* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #22c1c3;
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 60px 20px;
  justify-items: center;

  flex-grow: 1; /* <-- this makes main-content take remaining space */
}

.card-container {
  display: flex; /* use flex layout */
  flex-wrap: wrap; /* allow cards to move to the next row */
  gap: 20px; /* space between cards */
  justify-content: center; /* optional: center the cards horizontally */
  padding: 20px; /* optional: some spacing around */
}
